.about{
  @extend %page;
  opacity: 0;
  // background: $color-cadet-blue;
  // color: $color-bright-gray;
}
.about__wrapper{
  padding-top: 10rem;
}

.about__title{
  @extend %title-100;
  margin: auto;
  max-width: 124rem;
  text-align: center;


  @include media('<phone'){
    max-width: 67.7rem;
    margin: 20rem auto;
  }
}

.about__footer {
  bottom: 4rem;
  display: flex;
  justify-content: space-between;
  left: 4rem;
  position: absolute;
  right: 4rem;
  text-transform: uppercase;
  @include media('<phone'){
    position: fixed;
    flex-direction: column;
  }
}

.about__footer__copyright {

}

.about__footer__credits {
  a {
    @extend %link--hidden;

    &:first-child {
      margin-right: 1rem;
    }

    &:last-child {
      margin-left: 1rem;
    }
  }
}
